// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.appScreen{
    max-width: 450px;
    max-height: 600px;
    margin: auto auto;
    overflow: hidden;
}